[Desktop Entry]
Type=Application
Exec=udisksctl mount --block-device /dev/sdb1 --options "umask=022"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=udisksctl mount --block-device /dev/sdb1 --options "umask=022"
Name=udisksctl mount --block-device /dev/sdb1
Comment[en_US]=
Comment=
