"*":
  "atom-ctags": {}
  "autocomplete-ruby": {}
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "vim-surround"
      "clipboard-plus"
      "vim-mode-plus"
      "rails-transporter"
      "symbols-tree-view"
      "vim-mode-clipboard-plus"
      "vim-modeline"
      "erb-helper"
      "minimap"
      "terminal-plus"
      "seti-icons"
      "you-complete-me"
      "robe"
      "vim-mode"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "cursor-history": {}
  "easy-motion-redux": {}
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 15
    invisibles: {}
    lineHeight: 1
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
  "env-from-shell": {}
  "exception-reporting":
    userId: "4a3eeb7f-fefe-45ed-1ffd-fff37536679e"
  "file-icons": {}
  fonts:
    fontFamily: "Ubuntu Mono"
  "git-blame": {}
  "git-plus": {}
  linter:
    showErrorTabLine: true
  "one-dark-ui": {}
  robe:
    launchTimeout: 100000
  "seti-icons":
    iconsPlus: true
  "terminal-plus":
    core: {}
    style: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
  "you-complete-me": {}
".diff.source":
  editor:
    preferredLineLength: 120
".rspec.ruby.source":
  editor:
    preferredLineLength: 120
