packages: [
  "auto-detect-indentation"
  "autocomplete-ruby"
  "build"
  "clipboard-history"
  "clipboard-plus"
  "cursor-history"
  "easy-motion-redux"
  "env-from-shell"
  "erb-helper"
  "file-icons"
  "git-blame"
  "git-history"
  "git-plus"
  "git-time-machine"
  "goto"
  "highlight-line"
  "highlight-selected"
  "language-slim"
  "linter"
  "linter-ruby"
  "local-history"
  "minimap"
  "nerd-treeview"
  "package-sync"
  "project-manager"
  "rails-snippets"
  "rails-transporter"
  "robe"
  "ruby-block"
  "ruby-bundler"
  "script"
  "seti-icons"
  "symbols-tree-view"
  "terminal-plus"
  "todo-show"
  "vim-mode"
  "vim-mode-clipboard-plus"
  "vim-mode-plus"
  "vim-mode-visual-block"
  "vim-modeline"
  "vim-surround"
  "you-complete-me"
]
